/* AdminDashboard.css */
.admindashboard {
    display: flex;
}
.navbar{
    margin-top: 20px;
    margin-left: -20px;
    position: fixed;
    background-color: #ffffff;
    z-index: 1;
}

.sidebar {
    margin-top: 40px;
    width: 250px;
    position: fixed;
    background-color: #ffffff;
}

.compo {
    padding: 60px 20px 0px 250px;
    /* background: #f5f5dc; */

}

@media (max-width: 800px) {
    .admindashboard {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }

    .compo {
        padding: 10px;
    }
}
