.search-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: 1.5px solid tomato;
  border-radius: 10px 0 0 10px;
  font-size: 16px;
}

.search-button {
  padding: 12px 20px;
  border-radius: 0 10px 10px 0;
  background-color: tomato;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.search-input:focus {
  border-color: tomato;
  outline: none;
  box-shadow: 0 0 5px rgba(255, 99, 71, 0.2);
}

.search-button:hover {
  background-color: #c12e0d;
  transform: scale(1.03);
}

.search-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  margin-top: 30px;
  gap: 50px;
  row-gap: 50px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease forwards;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }

  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.loading-message,
.no-results {
  text-align: center;
  margin-top: 20px;
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

.food-item-wrapper {
  transition: transform 0.2s ease, opacity 0.3s ease;
}

.food-item-wrapper:hover {
  transform: scale(1.02);
}

@media (max-width: 900px) {
  .search-bar {
      align-items: center;
      /* margin: 0px 30px 0px 0px ; */
  }

  .search-input {
      border-radius: 10px 0 0 10px;
      margin-bottom: 10px;
  }

  .search-button {
      width: 30%;
      border-radius: 0 10px 10px 0;
      margin-bottom: 10px;
      text-align: center;
      
  }

  .search-results {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 20px;
    row-gap: 20px; 
  }
}

@media (max-width: 400px) {
  .search-bar {
      align-items: center;
      /* margin: 0px 30px 0px 0px ; */
  }

  .search-input {
      border-radius: 10px 0 0 10px;
      margin-bottom: 10px;
      font-size: 1.4vh;
  }

  .search-button {
      width: 30%;
      border-radius: 0 10px 10px 0;
      margin-bottom: 10px;
      text-align: center;
      font-size: 1.3vh;
      
  }

  .search-results {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 20px;
    row-gap: 20px; 
  }
}